/**    1° ESERCIZIO    **/

.ex-1-square {
    transition: 5s;
}

.ex-1-square:hover {
    background: red;
}

/**    2° ESERCIZIO    **/

.ex-2-square {
    transition: 5s;
}

.ex-2-square:active {
    width: 100%;
}

/**    3° ESERCIZIO    **/

.ex-3-square {
    transition: 3s;
}

.ex-3-square:hover {
    border-radius: 50px;
}

/**    4° ESERCIZIO    **/

.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    background: rgba(0, 0, 0, 0);
}

/**    5° ESERCIZIO    **/

.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.8);
}

/**    6° ESERCIZIO    **/

.ex-6-img {
    transition: 1s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/**    7° ESERCIZIO    **/

.ex-7-square {
    
}

.ex-7-img:hover {
    filter: grayscale(0.7) sepia(0.3);
}

/**    8° ESERCIZIO    **/

.ex-8-img {
    transition: 3s;
}

.ex-8-img:hover {
    border-radius: 50px;
    filter: grayscale(1) sepia(0.5);
}

/**    9° ESERCIZIO    **/

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    border-radius: 50px;
    filter: grayscale(0.5) sepia(1);
    transform: scale(1.5);
}

/**    10° ESERCIZIO   **/

.ex-10-icon {
    animation: spin 2000ms linear infinite;
/** 
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
**/
}

@keyframes spin {
    100% {
        transform: rotate(3turn);
    }
/**  
    Girare in senso antiorario:
    
    0% {
        transform: rotate(3turn);
    }
**/
}

/**    11° ESERCIZIO   **/

.ex-11-icon:hover {
    animation: spin-a-bit 3s linear;
}

@keyframes spin-a-bit {
    30% {
        transform: rotate(90deg);
    }
    60% {
        transform: rotate(180deg);
    }
    90% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/**    12° ESERCIZIO   **/

.ex-12-button:hover .ex-12-top-white {
    animation: move-top 1s;
}

@keyframes move-top {
    0% {
        left: 10%;
    }
    100% {
        left: calc(90% - 60px);
    }
}

.ex-12-button:active .ex-12-top-white {
    animation: go-back-top 500ms;
}

@keyframes go-back-top {
    0% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: move-bottom 1s;
}

@keyframes move-bottom {
    0% {
        right: 10%;
    }
    100% {
        right: calc(90% - 60px);
    }
}

.ex-12-button:active .ex-12-bottom-white {
    animation: go-back-bottom 500ms;
}

@keyframes go-back-bottom {
    0% {
        right: calc(100% - 60px);
    }
    100% {
        right: 10%;
    }
}

/**    13° ESERCIZIO   **/

.ex-13-button:hover .ex-13-top-white {
    animation: move-top-round 3s;    
}

@keyframes move-top-round {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: calc(100% - 10px);
    }
    80% {
        left: calc(0% - 30px);
        top: calc(100% - 10px);
    }
    95% {
        left: calc(0% - 30px);
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: move-bottom-round 3s;    
}

@keyframes move-bottom-round {
    0% {
        right: 10%;
        bottom: -10px;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: calc(100% - 10px);
    }
    80% {
        right: calc(0% - 30px);
        bottom: calc(100% - 10px);
    }
    95% {
        right: calc(0% - 30px);
        bottom: -10px;
    }
    100% {
        right: 10%;
        bottom: -10px;
    }
}